{% extends 'base_content.html'%}
{% block content %}
      <div class="container">
        <div class = "row">
          <div class = "col-sm-12 col-md-6 offset-md-3">
            <h1> Feed </h1>
            <p> Under COnstruction </p>
            <form action="{% url 'post' %}" method="post"> 
              {% csrf_token %}

              {% include 'partials/bootstrap_form.html' with form=form %}
      <input type="submit" value ="Create Post" class= "btn btn-secondary">

          </div >
        </div >
      </div >
{% endblock %}
